/* ----------------- definition of variable values ------------------ */
:root {
    --main-color: #434137;
    --secondary-color: #ADA999;
    --dark: #452521;
    --light: #F7F6F3;
    --light-beige: #DFDACE;
    --medium: #f0eee8;
    --dark-beige: #302C22;
    --hover: #F65828
}

/* ----------------- general page properties ------------------ */

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 15px;
    height: 100%;
    margin: 0;
}

body > * {
    flex-shrink: 0;
}

div {
    flex-grow: 1;
}

main {
    flex-grow: 1;
    background-color: var(--light);
    padding: 20px;
}

h1 {
    color: var(--dark);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px;
}

h2 {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 4px;
    font-size: 18px;
    color: var(--dark);
    background-color: var(--secondary-color);
}

h3 {
    padding-left: 35px;
    font-size: 16px;
    font-weight: bold;
}

header {
    width: 100%;
    background-color: var(--main-color);
    color: var(--light);
    text-align: center;
}

footer {
    clear: both;
    background-color: var(--main-color);
    text-align: center;
    padding-bottom: 5px;
    color: var(--light);
    margin-top: auto;
}

/*q {*/
/*    quotes: "„" "”";*/
/*    display: block;*/
/*    font-size: 17px;*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*    padding: 5px;*/
/*    margin-top: -4px;*/
/*    text-align: center;*/
/*}*/

/*q:hover {*/
/*    background-color: var(--hover);*/
/*    color: var(--light);*/
/*}*/

ul {
    margin-left: 35px;
    padding: 0;
    font-size: 16px;
}

li {
    width: 100%;
}

p {
    padding: 2px 5px 8px 5px;
    text-align: justify;
    font-size: 16px;
}

.formatting {
    clear: both;
}

#logo {
    max-width: 80%;
    height: auto;
}

#header_links {
    height: 28px;
    color: var(--light);
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

.header_register_link {
    margin-left: 10px;
}

#navigation {
    width: 95%;
    max-width: 1280px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#main {
    width: 100%;
    padding: 0;
}

#main-wider {
    width: 100%;
    padding: 0;
}

#main-widest {
    width: 100%;
    padding: 0;
}

a.navigation_item:link {
    display: block;
    margin: 0;
    background-color: var(--main-color);

    color: var(--light);
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;

    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    border-style: solid;
    border-width: 1px;
    border-color: #686356;
    border-bottom: none;
}

a.return {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
    padding-bottom: 5px;
    background-color: var(--main-color);

    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;

    border-style: solid;
    border-width: 1px;
    border-color: #686356;
    border-top: none;
}

a.navigation_item:hover, a.return:hover {
    background-color: var(--hover);
    color: var(--light);
    border-color: var(--light);
}

a:link, a:visited {
    text-decoration: none;
    color: var(--light);
}

a:hover {
    color: var(--hover);
}

a.genres_item {
    display: block;
    margin: 0;
    padding: 7px 0 7px 7px;
    background-color: var(--light-beige);
    color: var(--dark);
    font-size: 15px;

    border-style: solid;
    border-width: 1px;
    border-color: var(--light);
    border-right: none;
    border-left: none;
    border-top: none;
}

a.genres_item:hover {
    background-color: var(--hover);
    color: var(--light);
    transition: background-color 0.3s ease;
}

#content {
    background-color: var(--light);
    clear: both;
    width: 95%;
    max-width: 1280px;
    margin: 10px auto;
}

#genres {
    padding: 0;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.ul_genres {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li_genres {
    width: 100%;
}

#ul_navigation {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li_navigation {
    width: 100%;
}

.submit_button {
    background-color: var(--main-color);
    border: none;
    color: var(--light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.submit_button:hover {
    background-color: var(--hover);
    color: var(--light);
}

.reset_button {
    background-color: var(--light-beige);
    border: none;
    color: var(--main-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.reset_button:hover {
    background-color: var(--hover);
    color: var(--light);
}

.book_container {
    display: flex;
    flex-wrap: wrap;
}

.book_cover_div {
    flex: 0 0 30%;
}

.book_cover {
    width: 100%; /* 100% šířky kontejneru */
    height: auto; /* Zachování poměru stran */
    border: 1px solid #ccc;
}

/* --------------------------- main page -------------------------- */
.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}

.section {
    flex: 1 1 calc(50% - 1em);
    box-sizing: border-box;
    padding: 2ex;
    border: 1px solid var(--light-beige);
    background-color: var(--light);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12);
    border-radius: 4px;
}

.review_index {
    margin-bottom: 1em;
    padding: 0.8em;
    background-color: var(--light);
    border-radius: 5px;
    border: 1px solid var(--light-beige);
}

.review_book_index {
    font-size: 1em;
    color: var(--main-color);
    margin-bottom: 1%;
}

.review_user_index {
    font-size: 1em;
    color: var(--main-color);
    margin-bottom: 1%;
}

.review_text_index {
    font-size: 1em;
    color: var(--main-color);
}
/* --------------------------- my profile -------------------------- */
.profile_container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    padding: 1em;
    margin: 0 auto;
}

.profile_info {
    flex: 1;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.profile_info p {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.profile_info strong {
    font-weight: bold;
}

.profile_links {
    text-align: center;
    margin-top: 1em;
}

.profile_links a {
    display: inline-block;
    background-color: var(--dark-beige);
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.profile_links a:hover {
    background-color: var(--hover);
}
/* --------------------------- book detail -------------------------- */
.book_info {
    position: relative;
    flex: 1;
    padding-top: 3%;
    padding-left: 3%;
    background-color: var(--light-beige);
    border-radius: 5px;
}


.book_info p {
    margin: 5px 0;
    color: var(--dark);
    font-size: 1.1em;
    padding-right: 3%;
}

.book_container img {
    border-radius: 5px;
    height: 100%;
}

.rating {
    position: absolute;
    top: 5%;
    right: 10%;
    padding: 3%;
    width: 18%;
    background-color: var(--light);
    border-radius: 3px;
}

.rating_button {
    background-color: var(--dark-beige);
    border: none;
    color: white;
    padding: 0.5em;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    font-size: 0.9em;
    border-radius: 3px;
}

.rating_button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.review_section {
    width: 97%;
    margin: 1em auto;
    padding: 10px;
    background-color: var(--light-beige);
    border-radius: 3px;
}

.review {
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--main-color);
}

.review_text {
    margin: 0 0 10px 0;
    line-height: 1.5;
    color: var(--main-color);
    font-size: 1.1em;
}

.review_info {
    font-size: 14px;
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.review_user {
    font-weight: bold;
    color: var(--main-color);
}

.review_time{
    font-style: italic;
    color: var(--main-color);
}

.add_comment_button {
    background-color: var(--dark-beige);
    border: none;
    color: white;
    padding: 1em;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    border-radius: 3px;
}

.add_comment_button:hover {
    background-color: var(--hover);
    cursor: pointer;
}
/* --------------------------- login and register -------------------------- */
.form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_container {
    width: 100%;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
}

label {
    display: block;
    font-size: 1em;
    color: var(--dark-beige);
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.form_input {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid var(--dark-beige);
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12);
    font-size: 1em;
}

.submit_button, .reset_button {
    width: 50%;
    padding: 0.5em;
    margin: 1em 1%;
    border: none;
    border-radius: 4px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.link_div {
    text-align: center;
    margin-top: 1em;
}

.link_div a {
    color: var(--dark-beige);
    transition: background-color 0.3s ease;
}

.link_div a:hover {
    color: var(--hover);
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.checkbox_label {
    align-items: center;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: normal;
    text-transform: none;
}
/* --------------------------- tables -------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
    margin-top: 5px;
}

caption {
    font-weight: bold;
}

table, th, td {
    border: 1px solid var(--light);
}

td {
    padding: 5px;
    vertical-align: middle;
}

tr:hover, tr:nth-child(even):hover {
    background-color: var(--hover);
    color: var(--light);
}

tr:nth-child(even) {
    background-color: var(--medium);
}

th {
    padding: 5px;
    background-color: var(--light-beige);
    color: var(--dark-beige);
}

/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
@media (max-width: 1024px) {
    #logo {
        width: 300px;
        height: 130px;
    }

    #navigation {
        width: 95%;
        max-width: 1280px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    #header_links {
        text-align: center;
    }

    a.navigation_item:link {
        text-align: left;
        padding-left: 5px;
    }

    .main_container {
        display: block;
    }

    .section {
        width: 100%;
    }
}

/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
@media (min-width: 1025px) and (max-width: 1366px) {
    #logo {
        width: 300px;
        height: 130px;
    }

    #navigation {
        width: 95%;
    }

    #header_links {
        margin-bottom: -33px;
    }

    .li_navigation {
        width: 20%;
        float: left;
    }

    .li_navigation_wider {
        width: 17%;
        float: left;
    }

    #main {
        width: auto;
        margin-left: 250px;
        margin-right: 250px;
    }

    #main-wider {
        width: auto;
        margin-left: 250px;
    }

    #genres {
        width: 240px;
    }
}

/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
@media (min-width: 1367px) {
    #logo {
        width: 300px;
        height: 130px;
    }

    html {
        background: var(--light) url("../images/background.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #navigation {
        width: 75%;
    }

    .li_navigation {
        width: 20%;
        float: left;
    }

    .li_navigation_wider {
        width: 17%;
        float: left;
    }

    #content {
        width: 75%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 10px 0;
    }

    #main {
        width: auto;
        margin-left: 260px;
        margin-right: 260px;
    }

    #main-wider {
        width: auto;
        margin-left: 260px;
        margin-right: 10px;
    }

    #main-widest {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    #genres {
        width: 240px;
        margin-left: 10px;
    }

    #header_links {
        margin-bottom: -33px;
    }
}